.App {
  text-align: center;
  font-family: Futura;
  font-weight: 100;
  padding: 10px;
}

.flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.triangle-icon {
  fill: black;
}

.hidden {
  fill: white;
}

.title {
  padding: 10px;
}

.image {
  width: 100%;
  padding-top: 10px;
}

.modal {
  position: sticky;
  background-color: white;
  height:100vh;
  width: 100%;
  padding-top: 50%;
  left: 0;
  top: 0;
}

.modal-title {
  padding: 20px;
}

.button {
  background-color: #4A5BA5;
  border-radius: 10px;
  width: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  color: white;
  font-size: 28px;
}

.button-text {
  padding: 10px;
}

.slide-up, .slide-down {
  overflow:hidden;
}
.slide-up > div, .slide-down > div {
  transform: translateY(-100%);
  transition: .4s ease-in-out;
}
.slide-down > div {            
  transform: translateY(0);
} 

.spot-the-difference {
  width: 100%;
}

.form {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  font-family: Futura;
  font-weight: 100;
}